.Reviews {
 margin-bottom: 7rem;
}

.Reviews_h1 {
  font-size: 70px;
  font-weight: 500;
  margin-bottom: 2rem;
}

.Reviews_slide_parent {
  overflow-x: auto;
  overflow-y: hidden;
  padding: 1.5rem;
}

.Reviews_scroll {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 100vw;
  gap: 2rem;
}

.Reviews_slide_parent::-webkit-scrollbar {
    background: var(--color-oxford-blue);
    height: 10px;
    border-radius: 30px;
}

.Reviews_slide_parent::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 30px;
}
