@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --text-white: #ffffff;
  --primary-color: #a44ba6;
  --color-gold: #cac26c;
  --text-gold: #cac26c;
  --color-oxford-blue: #050021;
  --faded-purple-7: #843978b3;
  --faded-purple-5: #b49aba80;
  --faded-purple-2: #84397840;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("./images/bg.jpeg");
  color: var(--text-white);
  background-attachment: fixed;
  background-size: cover;
  font-size: 16px;
  padding: 0.8em 0 0;
  overflow-x: hidden;
  cursor: url("./images/cursor.png"), auto;
  word-wrap: break-word;
}

body::-webkit-scrollbar {
  background: var(--color-oxford-blue);
  width: 6px;
}

body::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

img {
  max-width: 100%;
  user-select: none;
}

a {
  text-decoration: none;
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

::-moz-selection {
  /* Code for Firefox */
  color: var(--color-gold);
  background: var(--primary-color);
}

::selection {
  color: var(--color-gold);
  background: var(--primary-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  width: 97vw;
  max-width: 1200px;
  margin: auto;
}

.gold_text{
  color: var(--text-gold);
}